.title-section2{
    text-align: center;
    color: var(--purple);
}

.video-section2{
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
}

.video-section2 iframe{
    border: none;
    width: 50rem;
    height: 25rem;
}


/* Media queries */

@media only screen and (max-width: 768px){
    .video-section2{
        max-width: 60%;
        margin: 0 auto;
    }
    
}