.wrapper{
    display: flex;
    height: 480px;
    padding: 0.75rem 2.5rem;
    font-family: sans-serif;
    position: relative;
}

.wrapper h1{
    font-size: 40px;
    font-weight: bold;
    max-width: 50%;
}

.call-to-action p{
    font-size: 20px;
    max-width: 65%;
}
.h1-span{
    position: absolute;
    top: 5rem;
}

.h1-span, .p-span{
    color: var(--purple);
    font-weight: bold;
}

.inputs{
    font-size: 15px;
}

.inputs h3{
    margin-top: 2rem;
    color: var(--purple);
}

.inputs input{
    border: none;
    border-bottom: 1px solid #000000;
    width: 230px;
    text-align: center;
    background: #F5F5F5;
}
.inputs input::placeholder{
    color: var(--purple);
}

input:focus{
    outline: none;
}

.buttons{
    display: flex;
    gap: 8rem;
}

.buttons button{
    border-radius: 20px;
    padding: 0.75rem;
    text-align: center;
    font-weight: bold;
}

.notify-button{
    background: var(--purple);
    border: 1px solid var(--purple);
    color: #ffffff;
    width: 120px;
    cursor: pointer;
}
.notify-button:hover{
    background: var(--purple-hover);
}

.freelance-button{
    background: #F5F5F5;
    border: 1px solid var(--purple);
}

.freelance-button a{
    text-decoration: none;
    color: var(--purple);
}

@keyframes retink-animation {
    from {
            transform: translateY(-30px);
      }
      to {
            transform: translateY(20px);
      }
}
.animation{
    height: 100%;
    animation: retink-animation 5s infinite alternate ;
}
.animation img{
    max-width: 100%;
    height: auto;
}


/* Media queries */

@media only screen and (max-width: 1024px){
    .wrapper h1{
        max-width: 60%;
    }

    .inputs input{
        width: 140px;
    }
    
}

@media only screen and (max-width: 768px){
    .wrapper h1{
        max-width: 75%;
    }

    .call-to-action p{
        font-size: 20px;
        max-width: 75%;
    }

    .inputs span,
    .inputs input{
        font-size: 12px;
    }

    .inputs input{
        width: 110px;
    }

    .freelance-button{
        width: 14rem;
    }
    
}